@tailwind base;
@tailwind components;
@tailwind utilities;


.gridBox{
border: 1px solid black;
outline-style: solid;
height: 150px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

.strike{
    position: absolute;
    background-color: darkorange;
}
.strike-row-1{
    width: 10%;
    height: 4px;
    top:35%;

}